.gradient-button {
  padding: 1.5rem 2rem;
  color: white;
  font-size: 1.6rem;
  text-transform: uppercase;
  width: 100%;
  /* border-radius: 25px; */
  font-weight: bold;
  cursor: pointer;
  outline: none;
  font-family: "Montserrat", sans-serif;
  background-image: var(--gradient);
  }
   a:link{
    text-decoration: none;
 }
 a{
  color: white;
 }
 a:hover{
  color: rgb(187, 59, 187);
 }
