@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
  :root {
    --primary: #08aeea;
    --secondary: #13D2B8;
    --purple: #bd93f9;
    --pink: #ff6bcb;
    --blue: #8be9fd;
    --gray: #333;
    --font: "Poppins", sans-serif;
    --gradient: linear-gradient(40deg, #ff6ec4, #7873f5);
    --shadow: 0 0 15px 0 rgba(0,0,0,0.05);
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  html {
    font-size: 62.5%;
  }

  body {
    font-family: var(--font);
    font-size: 1.4rem;
    overflow-x: hidden;
    font-weight: 300;
  }

  img {
    display: block;
    max-width: 100%;
  }

  a {
    text-decoration: none;
  }

  input,
  button,
  textarea,
  select {
    font-family: var(--font);
    font-size: 1.4rem;
    font-weight: 300;
    outline: none;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
  }

  button {
    cursor: pointer;
  }
  
          .tab {
            padding: 2.5rem;
            border-radius: 1rem;
            background-color: white;
            box-shadow: var(--shadow);
          }
          .tab-list {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2.5rem;
          }
          .tab-item {
            cursor: pointer;
            padding: 1.2rem 2rem;
            border-radius: 5rem;
            color: #818e9b;
            background-color: #f4f5f7;
            text-align: center;
            white-space: nowrap;
            font-weight: 500;
          }
          .tab-item.active {
            color: white;
            background-color: var(--primary);
            pointer-events: none;
          }
          .tab-item:not(:first-child) {
            margin-left: 1.5rem;
          }
          .tab-content {
            display: none;
          }
          .tab-content.active {
            display: block;
          }
          .post {
            display: flex;
            align-items: center;
          }
          .post:not(:first-child) {
            margin-bottom: 2rem;
          }
          .post-image {
            width: 8rem;
            height: 10rem;
            border-radius: 1rem;
            object-fit: cover;
            flex-shrink: 0;
            margin-right: 2.5rem;
          }
          .post-info {
            flex: 1;
          }
          .post-category {
            color: #818e9b;
            display: inline-block;
            font-size: 1.6rem;
            margin-bottom: 1rem;
            font-weight: 500;
          }
          .post-title {
            color: #4e4f51;
            font-weight: 600;
            font-size: 1.8rem;
            line-height: 1.4;
          }