
.text-gradient {
  font-weight: bold;
  font-size: 4rem;
  display: inline-block;
  color: var(--purple);
}
@supports (-webkit-background-clip: text) {
  .text-gradient {
    color: transparent;
    background-image: var(--gradient);
    -webkit-background-clip: text;
  }
}
